{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-react",
          {
            "targets": {
              "node": true
            }
          }
        ]
      ]
    }
  }
}