.footer {
    background-color: var(--deep-blue);
    color: var(--bs-white);
    font-size: 20px;

    a {
        color: var(--bs-white);
    }

    ul li ul li {
        margin: 0 0 10px;
    }

    .stay-in-touch-container {
        border: 1px dashed rgba(0, 0, 0, 0.2);

        img {
            transition: 100ms ease-in;

            &:hover {
                transition: 100ms ease-in;
                transform: scale(1.2);
            }
        }
    }

    .copyright {
        border-top: 1px solid rgba(219, 218, 224, 0.3);
        color: #79768B;
    }

    &__form {
        background-color: rgba(0, 0, 0, 0.3);
    }

    &__logo-container {
        margin: 0 auto;

        img {
            transition: 100ms ease-in;

            &:hover {
                transition: 100ms ease-in;
                transform: scale(1.2);
            }
        }

        @media (min-width: 768px) {
            margin: 0
        }
    }
}