.pretzel-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    text-align: center;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    z-index: 1080;

    &.show {
        transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
        transform: scale(1);
        opacity: 1;
        visibility: visible;

    }

    .core {
        @media (max-height: '700px') {
            padding: 70px 0;
        }
    }

    .sub-title {
        color: #676477;
        font-size: 20px;

        @media (min-width: 768px) {
            font-size: 25px;
        }

        @media (min-width: 1200px) {
            font-size: 32px;
        }
    }

    &__close-button {
        position: fixed;
        right: 15px;
        top: 15px;
        cursor: pointer;

        @media (min-width: '768px') {
            top: 25px;
            right: 25px;

        }

        @media (min-width: '1200px') {
            top: 50px;
            right: 50px;

        }
    }

    &::before {
        content: '';
        background: url('../../../assets/images/splash3.svg') left center / contain no-repeat;
        display: block;
        width: 37vw;
        height: 78vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &::after {
        content: '';
        background: url('../../../assets/images/splash4.svg') right center / contain no-repeat;
        display: block;
        width: 37vw;
        height: 78vh;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.modal-form {
    margin: 0 auto;
    text-align: left;

    @media (min-width: '768px') {
        width: 440px;
    }

    .form-group {
        position: relative;

        .label-wrapper {
            input {
                border: none;
                border-bottom: 1px solid #BDBEBF;
                font-weight: bold;
                background-color: transparent;
                color: var(--deep-blue);
                padding: 7px 0;

                &::placeholder {
                    font-weight: 400;
                }
            }

            label {
                cursor: text;
                width: 100%;
                color: var(--deep-blue);
                font-size: 14px;
                position: absolute;
                left: 0;
                top: 0;
                transform-origin: left;
                transform: scale(0.8) translate3d(5px, 20px, 0);
                user-select: none;
                transition: transform 200ms ease-in;

                &:focus {
                    color: #E4265C;
                }
            }

            input:focus~label,
            input:not(:placeholder-shown):not(:focus)~label {
                transform: scale(1) translate3d(0px, -15px, 0);

            }
        }

        &.invalid {
            .label-wrapper {
                input {
                    border-bottom: 1px solid #E4265C;
                }
            }

        }

        .validation-error {
            position: absolute;
            left: 0;
            font-size: 12px;
            bottom: -22px;
            color: red;
        }
    }

    button {
        background-color: #EA2667;
        padding: 10px 16px;
        color: #fff;

        &:hover {
            background-color: #cf1251;
            color: #fff;
        }

        &:focus {
            outline: none;
        }
    }
}