// USER VARIABLES SECTION

$highlighted: #D2B162
$accent: #707070 // Accent Color
$textcolor: #333 // Text Color
$desktopsize: 14px // Body Font Size
$lineheight: 1.65 // Document Line Height
$userfont: roboto-oh5, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width




// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')
@mixin check()
	-webkit-transition: all .5s cubic-bezier(.215, .61, .355, 1) 0s
	-o-transition: all .5s cubic-bezier(.215, .61, .355, 1) 0s
	transition: all .5s cubic-bezier(.215, .61, .355, 1) 0s
@mixin transition($duration)
	transition-duration: $duration
	transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  

// @mixin transition
// 	-webkit-transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s
// 	-o-transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s
// 	transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s


@include font('helveticaMedium', normal, 500, '../fonts/HelveticaNeue-Medium.woff')
@include font('helveticaLight', normal, 400, '../fonts/HelveticaNeue-Light.woff')
@include font('helveticaRegular', normal, 400, '../fonts/HelveticaNeue.woff')
@include font('helveticaBold', normal, 700, '../fonts/HelveticaNeue-Bold.woff')
// @include font('saol', normal, 400, '../fonts/SaolDisplay-Regular.ttf')
// @include font('saolLight', normal, 400, '../fonts/SaolDisplay-Light.ttf')
// @include font('saolLightItalic', italic, 400, '../fonts/SaolDisplay-LightItalic.ttf')
// @include font('italiana', normal, 400, '../fonts/Italiana-Regular.ttf')
// @include font('blacker', normal, 400, '../fonts/BlackerSansDisplayTrial-BookItalic.ttf')
// @include font('blackerLight', normal, 400, '../fonts/blackerlight.ttf')
// @include font('helveticaItalic', italic, 500, '../fonts/helvetica-italic.ttf')
@include font('notosansbold', normal, 700, '../fonts/notosansbold.ttf')
@include font('adobeclean', normal, 700, '../fonts/AdobeClean-Bold.woff')






// GENERAL DOCUMENT STYLES
::-webkit-scrollbar
	display: none
::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden
	box-sizing: border-box