.section-group {
    &::before {
        content: '';
        background: url('../../assets/images/splash.svg') left center / contain no-repeat;
        display: block;
        width: 37vw;
        height: 58vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &::after {
        content: '';
        background: url('../../assets/images/splash2.svg') right center / contain no-repeat;
        display: block;
        width: 37vw;
        height: 58vh;
        position: absolute;
        right: 0;
        top: 60%;
        z-index: -1;
    }
}

.coming-soon {
    min-height: 100vh;
    background: url('../../assets/images/coming-soon-hero.jpg') center center/cover no-repeat;

    &__content {
        color: var(--bs-white);

    }
}

.benefits,
.how-it-works,
.no-drama {
    padding: 65px 0 45px;

    @media (min-width: '768px') {
        padding: 105px 0 75px;
    }

    .list-title {
        font-size: 25px;

        @media (min-width: '768px') {
            font-size: 20px;
        }

    }


    .sub-title {
        font-size: 20px;
        color: #676477;
        margin-bottom: 80px;

        @media (min-width: '768px') {
            margin-bottom: 140px;
            font-size: 32px;
        }
    }

    &__list {
        .image-wrapper {
            height: auto;

            img {
                width: 80%;
                margin: 0 auto;

                @media (min-width: '992px') {
                    width: auto;
                }
            }

            @media (min-width: '768px') {
                height: 150px;
            }
        }

        &:last-child {
            .image-wrapper {
                img {
                    width: auto;
                    height: 300px;

                    @media (min-width: '768px') {
                        height: auto;
                    }
                }
            }
        }
    }
}

.how-it-works {
    &__list {
        .image-wrapper {
            height: auto;

            img {
                width: 200px;
            }

            @media (min-width: '768px') {
                height: 250px;
            }
        }

        p {
            min-height: 60px;
        }
    }
}

.no-drama {
    &__list {
        .list-title {
            min-height: 150px;
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            z-index: 1;
        }

        &:nth-child(1) {
            &::before {
                background: url('../../assets/images/tip1.svg') center center / contain no-repeat;
                width: 170px;
                height: 50px;
                right: 20px;
                top: 0;

                @media (min-width: '768px') {
                    top: -100px;
                }
            }
        }

        &:nth-child(2) {
            &::before {
                background: url('../../assets/images/tip2.svg') center center / contain no-repeat;
                width: 146px;
                height: 98px;
                left: 70px;
                top: -80px;

                @media (min-width: '768px') {
                    top: -130px;
                }
            }
        }

        &:nth-child(3) {
            &::before {
                background: url('../../assets/images/tip3.svg') center center / contain no-repeat;
                width: 146px;
                height: 98px;
                left: 0;
                top: 0;

                @media (min-width: '768px') {
                    top: -80px;
                }
            }
        }

        &:nth-child(4) {
            &::before {
                background: url('../../assets/images/tip4.svg') center center / contain no-repeat;
                width: 208px;
                height: 66px;
                left: -10px;
                top: -20px;

                @media (min-width: '768px') {
                    top: -80px;
                    left: 0;
                }
            }
        }
    }
}

.pretzel-means {
    padding: 100px 0;

    @media (min-width: '768px') {
        padding: 255px 0;
    }

    .sub-title {
        color: #676477;
        line-height: 33px;
    }
}

.backed-by {
    background-color: #F5F4FA;

    >div {
        padding: 100px 0;

        .title {
            color: var(--deep-blue);
        }

        p {
            color: #676477;
            line-height: 33px;
            margin-bottom: 75px;

            @media (min-width: 768px) {
                font-size: 22px;
                margin-bottom: 150px;
            }

        }

        .logo-wrapper {
            margin: 0 auto;
        }

        @media (min-width: 768px) {
            padding: 200px 0;
        }
    }
}