body {
	font-family: Calibri;
}
.reusable_bank {
	height: 176px;
	background-color: #E5EAED;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&-container {
		height: 144px;
		margin: 0 14px;
		width: 100%;
		background-color: #fff;
		.input-wrapper{
			position: relative;
			input {
				height: 30px;
				border:1px solid #485C6D;
				border-radius:4px;
				padding-left: 30px;
				color: #232840;
				font-size: 15px;
				width: 100%;
			}
			&::before {
				content: '';
				display: block;
				background: url('../img/search.svg') center center/cover no-repeat;
				width: 15px;
				height: 15px;
				position: absolute;
				left: 12px;
				top: 5px;
			}
		}
		ul {
			padding:15px;
			li {
				display: flex;
				justify-content: start;
				align-items: center;
				img {
					margin-right: 5px;
					transform: translateY(-2px);
				}
				span {
					font-family: Calibri;
					font-size: 15px;
				}
			}
			li:nth-child(2) {
				margin: 11px 0px;
			}
		}
		&_click {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			&__wrapper {
				img {
					display: block;
					margin: 0 auto;	
				}
				h4 {
					text-align: center;
					font-family: Calibri;
					color: #000;
					font-size: 15px;
				}
				span {
					font-family: Calibri-l;
					color: #232840;
					font-size: 12px;
					text-align: center;
					display: block;
				}
			}
		}
	}

}



.teststeps {
	.btns-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 21px 0px;
		.btn {
			border-radius:40px;
			width: 100px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			border:none;
			color:#fff;
			font-family: Calibri-b;
			font-size: 18px;
		}
		.grey {
			background-color: #707070;
		}
		.blue {
			background-color: #1C64B7;
			margin: 0px 30px;
		}
		.violet {
			background-color: #6B2182;
		}
	}
	&-table {
		border-radius:10px;
		width: 100%;
		position: relative;
		border: 1px solid #000;
		font-family: Calibri;
		font-size: 15px;
		thead {
			background-color: #232840;
			tr {
				th {
					img {
						width: 30px;
						height: 30px;
					}
					span {
						font-size: 14px !important;
						font-family: 'Calibri-b' !important;
						color: #fff !important;                   //          alarm alarm!
					}
					.open-modal {
						background-color:#16B757;
						border-radius:10px;						
						padding: 4px 10px;
						font-family: Calibri;
					}
				}
			}
		}
		tbody{
			tr{
				border-bottom:1px solid #9B9B9B;
				td {
					border-right: 1px solid #9B9B9B;
				}
				td:last-child {
					border-right: none;
				}
			}
		}
		th:nth-child(5),td:nth-child(5),th:nth-child(6),td:nth-child(6),th:nth-child(8),td:nth-child(8),th:nth-child(11), td:nth-child(11) {
			width: 12%;
		}
		th:nth-child(10),td:nth-child(10), th:nth-child(7),td:nth-child(7),th:nth-child(9),td:nth-child(9) {
			width: 10%;
		}
		th:nth-child(1),td:nth-child(1) {
			width: 7%;
		}
		th:nth-child(2), td:nth-child(2), th:nth-child(3),td:nth-child(3), th:nth-child(4),td:nth-child(4) {
			width: 5%;
		}
	}
}