@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Bold'), local('Avenir-Next-Bold'),
        url('AvenirNextCyr-Bold.woff2') format('woff2'),
        url('AvenirNextCyr-Bold.woff') format('woff'),
        url('AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }