@import './normalize.scss';

body {
  font-family: 'Lato-Regular';
  box-sizing: border-box;
}
.width-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  // padding: 0 32px;
  position: relative;
  // @media (max-width: 767px) {
  //   padding: 0 16px;
  // }
  h2 {
    font-family: 'AvenirNext-Bold';
    font-size: 38px;
    text-align: center;
    color: #000;
    line-height: 1.42;
    margin-bottom: 84px;
  }
  .mokam-button {
    padding: 12px 6px;
    border-radius: 6px;
    background-color: #448aff;
    width: 258px;
    text-align: center;
    cursor: pointer;
    font-family: 'Lato-bold';
    font-size: 16px;
    color: #fff;
    appearance: none;
    border: none;
    color: #fff;
    &:hover {
      background-color:#0046a0;
    }
  }
  .subtitle {
    margin: 10px 0 50px;
    text-align: center;
    color: #4d4d4d;
  }
  .slick-list {
    overflow: hidden;
    .slick-track {
      display: flex; 
    }
  }
}