@import './normalize.scss';

body {
  font-family: 'Lato-Regular';
  a {
    text-decoration: none;
    font-family: 'AvenirNext-Bold';
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}
.width-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}